/*  Elements          */


body, a, a:hover, a:visited{
    color:black;
    text-decoration: none;
}

a:hover, a:active, a:hover{background-color: #abf2ae;}

div{
    width: 100%;  height: 100%;
}


.icon-bar{background-color: black;}


#top-container{
    max-width: 700px;
    margin:auto;
    font-family: Futura;
}


#app-name, #page-name{font-size: 30px; width: 100%;  line-height: 1em;}



.app-name-and-categories{display:flex;float:left;}
.app-name-container{width:240px; padding-right: 0;}

.welcome-to-app-name{width:1200px;}
.welcome-to-app-name #app-name{ font-size: 40px;}

.navbar-div{
    display: flex;
    margin-top: 10px;
    margin-right: 10px;
    float:left;

}

#dropdown-menus{
    display:inline;position:relative;
    top:7px; left:10px;
}


#dropdown-menus li.dropdown{position:relative; left:15px;}

div.float-right{display:inline; width:auto;float:right;}

.dropdown-menu{float:right;}


.top-navbar{
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    background-color: #cfffd4;
    padding-bottom: 25px;
    margin-bottom: 15px;
}

#top-navbar-button{
    border:2px solid lightgrey;
}

.top-navbar-search-container{
    padding:0; padding-left: 15px;   display:flex;  width:160%;

}

.top-navbar-search-container input{
    display:flex;  width: 100%; float:left;
}


#search-and-create-and-login{
    float:left;
}

#login-and-create-account, #logout-link-container{
      float:right; position: relative;
    top:5px;
}
#login-and-create-account div, #logout-link-container div{
    float:right; text-align: right;
}

#logout-link-container{top:25px;}

#create-account{margin-bottom:5px; }


#todos-body{
    font-size: 16px;
}

#todos-body .glyphicon{font-size: 18px;}

#todos-body span.glyphicon-remove-circle {
    position: relative; left:10px; top:3px;
    opacity: 0.3;
}

.todo-list{
    list-style: none;
    width:100%;
    padding-left: 0;
    margin-left: 10px;
}

.todo-list-item{
    display: block;
    width:100%;
    padding:2px 0px;
}


.highlight-area{
    display: inline;
    padding: 0px 12px;
    margin:0;
    border:1px solid transparent; /*  border will be invisible  */
    width:100%;
    position:relative;
    right:8px;
}

.list-item-clicked{
    background-color: #adffa7;
    border:1px solid #797979;
}

.list-item-hovered{ border:1px solid #e1e1e1;}

.list-item-clicked, .list-item-hovered{
    border-radius: 15px;
}

.item-text{margin-right:15px;}

.todo-checkbox{position:relative; right:10px;  bottom:2px;}

.invisible{visibility: hidden;}


.form-submit{width:auto;}
.form-submit input{
    border:2px solid rgb(192,192,192);
    border-radius: 5px; background-color: white;
}

#back-to-main{width:170px; text-align:left; position: relative;
    top:28px; font-size: 14px;
}


#account-creation-unsuccessful{display:block;}

#account-creation-success{display:block;padding-left: 15px; margin-top: 20px;}

.invisible-and-collapsed{display: none;}


#account-creation-success.invisible-and-collapsed,
#account-creation-unsuccessful.invisible-and-collapsed{display: none;}


.add-item-button{
    position: relative;  height:34px;
}

.add-item-button input{width:100%; height:100%;}

#no-lists-found{padding-left: 20px;}
