/*  Elements          */


body, a, a:hover, a:visited{
    color:black;
    text-decoration: none;
}

a:hover, a:active, a:hover{background-color: #abf2ae;}

div{
    width: 100%;  height: 100%;
}


/*  Classes          */

.icon-bar{background-color: black;}


/*  IDs          */



#top-container{
    max-width: 700px;
    margin:auto;
    font-family: Futura;
}


#app-name{font-size: 30px;}

#app-name-and-categories{display:flex;float:left;}
#app-name-container{width:240px; padding-right: 0;}

.navbar-div{
    display: flex;
    margin-top: 10px;
    margin-right: 10px;
    float:left;

}

#dropdown-menus{
    display:inline;position:relative;
    top:7px; left:10px;
}


#dropdown-menus li.dropdown{position:relative; left:15px;}

div.float-right{display:inline; width:auto;float:right;}

.dropdown-menu{float:right;}


#top-navbar{
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    background-color: #cfffd4;
    padding-bottom: 25px;
    margin-bottom: 15px;
}

#top-navbar-button{
    border:2px solid lightgrey;
}

#top-navbar-search-container{
    padding:0; padding-left: 15px;   display:flex;  width:160%;

}

#top-navbar-search-container input{
    display:flex;  width: 100%; float:left;
}


#search-and-create-and-login{
    float:left;
}

#login-and-create-account{
      float:right; position: relative;
    top:5px;
}
#login-and-create-account div{
    float:right; text-align: right;
}
#create-account{margin-bottom:5px; }


#todos-body{font-size: 16px;}

#todos-body .glyphicon{font-size: 18px;}

#todos-body span.glyphicon-remove-circle {
    position: relative; left:10px; top:4px;
    opacity: 0.3;
}

.todo-list{list-style: none;}

.todo-list-item{border:1px solid transparent;}

.list-item-highlighted{ border:1px solid lawngreen;}

.todo-checkbox{position:relative; right:10px;  bottom:2px;}

.invisible{visibility: hidden;}
